<h1>Add Sale or Rental Property</h1>
<form>
    <div class="form-group">
        <label for="saleOrRental">Sale or Rental Property?</label>
        <select class="form-control" id="saleOrRental" ng-model="vm.newProperty.saleOrRental">
            <option value="sale">Sale</option>
            <option value="rent">Rental</option>
        </select>
    </div>
    <div class="form-group" ng-if="vm.newProperty.saleOrRental">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" ng-model="vm.newProperty.city">
    </div>
    <div class="form-group" ng-if="vm.newProperty.saleOrRental==='sale'">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" id="cost" placeholder="Cost" ng-model="vm.newProperty.cost">
    </div>
    <div class="form-group" ng-if="vm.newProperty.saleOrRental==='rent'">
        <label for="rent">Rent</label>
        <input type="number" class="form-control" id="rent" placeholder="Rent" ng-model="vm.newProperty.rent">
    </div>
    <div class="form-group" ng-if="vm.newProperty.saleOrRental">
        <label for="squareFt">Square Feet</label>
        <input type="number" class="form-control" id="squareFt" placeholder="Square Feet" ng-model="vm.newProperty.sqft">
    </div>
    <button class="btn btn-primary" ng-click="vm.addProperty()" ng-if="vm.newProperty.saleOrRental">Submit</button>
</form>