<div class="row">
    <div class="col-md-6">
        <h1>Add Sale or Rental Property</h1>
        <form class="form">
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="saleOrRental" id="saleOrRental" ng-model="vm.newProperty.saleOrRental" value="sale">Sale
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="saleOrRental" id="saleOrRental" ng-model="vm.newProperty.saleOrRental" value="rent">Rental
                    </label>
                </div>
            </div>
            <div class="form-group" ng-if="vm.newProperty.saleOrRental">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="City" ng-model="vm.newProperty.city">
            </div>
            <div class="form-group" ng-if="vm.newProperty.saleOrRental==='sale'">
                <label for="cost">Cost</label>
                <input type="number" class="form-control" id="cost" placeholder="Cost" ng-model="vm.newProperty.cost">
            </div>
            <div class="form-group" ng-if="vm.newProperty.saleOrRental==='rent'">
                <label for="rent">Rent</label>
                <input type="number" class="form-control" id="rent" placeholder="Rent" ng-model="vm.newProperty.rent">
            </div>
            <div class="form-group" ng-if="vm.newProperty.saleOrRental">
                <label for="squareFt">Square Feet</label>
                <input type="number" class="form-control" id="squareFt" placeholder="Square Feet" ng-model="vm.newProperty.sqft">
            </div>
            <button class="btn btn-primary" ng-click="vm.addProperty()" ng-if="vm.newProperty.saleOrRental">Submit</button>
        </form>
    </div>
</div>