<div class="row" ng-if="!vm.editingMode">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="searchListing">Search Listings</label>
                <input type="text" class="form-control" id="searchListing" placeholder="Search Listings" ng-model="vm.searchText">
            </div>
            <div class="form-group">
                <label for="orderByColumn">Order By</label>
                <select name="orderByColumn" id="orderByColumn" ng-model="vm.orderByColumn" class="form-control">
                    <option value="city">City (Asc)</option>
                    <option value="-city">City (Desc)</option>
                    <option value="cost">Cost (Low to High)</option>
                    <option value="-cost">Cost (High to Low)</option>
                    <option value="sqft">Square Feet (Low to High)</option>
                    <option value="-sqft">Square Feet (High to Low)</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>For Sale</h1>
        <table class="table table-striped table-responsive" ng-if="!vm.editingMode">
            <caption>These properties are available for sale.</caption>
            <thead>
                <tr>
                    <th>City</th>
                    <th>Cost</th>
                    <th>Square Feet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listing in filteredListings = (vm.listings.list | filter:vm.searchText) | orderBy: vm.orderByColumn">
                    <td>{{listing.city}}</td>
                    <td>{{listing.cost | currency}}</td>
                    <td>{{listing.sqft | number}}</td>
                    <td>
                        <button ng-click="vm.editListing(listing)" class="btn btn-primary btn-sm">Edit</button>
                        <button ng-click="vm.deleteListing(listing._id)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="!(vm.listings.list|filter:vm.searchText).length">No results</div>
    </div>

    <!-- Editing Mode -->
    <div class="col-md-6">
        <div ng-if="vm.editingMode">
            <h3>Edit <span class="edit-city-name">{{vm.listingToUpdate.city}}</span> (id: {{vm.listingToUpdate._id}})</h3>
            <form>
                <div class="form-group">
                    <label for="updateCity">Update City</label>
                    <input type="text" class="form-control" id="updateCity" placeholder="updateCity" ng-model="vm.listingToUpdate.city">
                </div>
                <div class="form-group">
                    <label for="updateCost">Update Cost</label>
                    <input type="number" class="form-control" id="updateCost" placeholder="updateCost" ng-model="vm.listingToUpdate.cost">
                </div>
                <div class="form-group">
                    <label for="updateSquareFt">Update Square Feet</label>
                    <input type="number" class="form-control" id="updateSquareFt" placeholder="Square Feet" ng-model="vm.listingToUpdate.sqft">
                </div>

                <button ng-click="vm.updateListing(vm.listingToUpdate._id, vm.listingToUpdate.city, vm.listingToUpdate.cost, vm.listingToUpdate.sqft)"
                    class="btn btn-primary btn-sm">Update</button>
                <button ng-click="vm.cancelUpdate()" class="btn btn-default btn-sm">Cancel</button>
            </form>
        </div>
    </div>
</div>